parameters:
	ignoreErrors:
		-
			message: '#^Offset ''payment_method_name'' on array\{expense_date\: string\|null, amount\: float\|null, payee_name\: string, expense_category_id\: int, payment_method_id\: int, expense_category_name\: string, payment_method_name\: string, cheque_no\?\: non\-empty\-string, \.\.\.\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: app/Http/Controllers/Admin/ImportController.php

		-
			message: '#^Call to function method_exists\(\) with App\\Models\\User and ''hasTwoFactorEnabled'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: app/Http/Controllers/Auth/AuthenticatedSessionController.php

		-
			message: '#^Parameter \#1 \$user of class Illuminate\\Auth\\Events\\Verified constructor expects Illuminate\\Contracts\\Auth\\MustVerifyEmail, App\\Models\\User\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/Auth/VerifyEmailController.php

		-
			message: '#^Access to an undefined property App\\Models\\Expense\:\:\$d\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/DashboardController.php

		-
			message: '#^Access to an undefined property App\\Models\\Expense\:\:\$total\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/DashboardController.php

		-
			message: '#^Access to an undefined property App\\Models\\Income\:\:\$d\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/DashboardController.php

		-
			message: '#^Access to an undefined property App\\Models\\Income\:\:\$total\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Controllers/DashboardController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/DashboardController.php

		-
			message: '#^Using nullsafe property access "\?\-\>name" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Controllers/DashboardController.php

		-
			message: '#^Strict comparison using \=\=\= between ''expense_date'' and ''expense_date'' will always evaluate to true\.$#'
			identifier: identical.alwaysTrue
			count: 1
			path: app/Http/Controllers/ExpenseController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Controllers/ReportsController.php

		-
			message: '#^Using nullsafe property access "\?\-\>name" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 6
			path: app/Http/Controllers/ReportsController.php

		-
			message: '#^Access to an undefined property Illuminate\\Contracts\\Auth\\Authenticatable\:\:\$id\.$#'
			identifier: property.notFound
			count: 2
			path: app/Listeners/AuditAuthFailed.php

		-
			message: '#^Call to function is_array\(\) with array will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: app/Listeners/AuditAuthFailed.php

		-
			message: '#^Access to an undefined property Illuminate\\Contracts\\Auth\\Authenticatable\:\:\$id\.$#'
			identifier: property.notFound
			count: 2
			path: app/Listeners/AuditAuthLogin.php

		-
			message: '#^Using nullsafe property access on non\-nullable type Illuminate\\Contracts\\Auth\\Authenticatable\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 2
			path: app/Listeners/AuditAuthLogin.php

		-
			message: '#^Access to an undefined property Illuminate\\Contracts\\Auth\\Authenticatable\:\:\$id\.$#'
			identifier: property.notFound
			count: 2
			path: app/Listeners/AuditAuthLogout.php

		-
			message: '#^Using nullsafe property access on non\-nullable type Illuminate\\Contracts\\Auth\\Authenticatable\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 2
			path: app/Listeners/AuditAuthLogout.php

		-
			message: '#^Call to function is_array\(\) with array will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 2
			path: app/Models/User.php

		-
			message: '#^Using nullsafe method call on non\-nullable type Illuminate\\Http\\Request\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 2
			path: app/Support/Audit.php
